<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.notifellow.su.notifellow">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.wifi" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/notifellowlogo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/notifellowlogo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDgNANvwuks8Tx3LYb_MPpvUbpN3yau5ZU" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />


        <receiver
            android:name=".AlarmReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".ForgotPassword"  android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".SignUp"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/AppTheme.NoActionBar"/>
        <!--<activity android:name=".notes.EditNotes" />-->
        <!--<activity android:name=".notes.NotesMainActivity" />-->
        <!--<activity android:name=".notes.CreateNotes" />-->

        <service android:name=".ServiceListenWiFi" />
        <service android:name=".LocationService" />
        <receiver android:name=".OnBootAlarmSetter">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".LoginScreen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Main"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".AddReminder"
            android:theme="@style/AppTheme.AppCompat.New">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.notifellow.su.notifellow.Main" />
        </activity>

        <activity
            android:name=".Settings"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".Main"
            android:theme="@style/AppTheme.NoActionBar"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.notifellow.su.notifellow.Main" />
        </activity>

        <activity android:name=".MapsPlaces" />
        <activity
            android:name=".Social"
            android:label="@string/title_activity_social"
            android:parentActivityName=".Main"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.notifellow.su.notifellow.Main" />
        </activity>
        <activity android:name=".NoteCreateActivity" />
        <activity android:name=".NotesListActivity" />
        <activity android:name=".NotesEditActivity" />
    </application>

</manifest>